.guild-link {
    display: flex;
    flex-grow: 1;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
}

.guild-link:hover {
  color: black;
}

.guild-link__text {
    font-weight: bold;
    font-size: 30px;
}