{% extends 'base.html' %}
{% load static %}


{% block title %}{{ guild.name }}{% endblock %}


{% block extra-header %}
    {% if member.is_admin %}
        <a class="header__controls__link" href="{% url 'guild-chat' guild.id %}">{{ guild.name }}</a>{% endif %}
{% endblock %}


{% block styles %}{% static 'chat/css/guild_change_main.css' %}{% endblock %}


{% block main %}
    <div class="container">
        <h2 style="margin-bottom: 10px; margin-top: 20px">Настройки сервера</h2>

        <div class="btn-group-vertical" style="width: 200px; margin-bottom: 15px">
            <span class="btn btn-primary active">Основные</span>
            <a href="{% url 'guild-change-members' guild.id %}" class="btn btn-success">Участники</a>
            <a href="{% url 'guild-change-bans' guild.id %}" class="btn btn-danger">Баны</a>
            <a href="{% url 'guild-change-links' guild.id %}" class="btn btn-primary">Приглашения</a>
        </div>

        <form method="post" enctype="multipart/form-data" style="margin-top: 20px; margin-bottom: 20px">
            {% csrf_token %}

            {% if guild.poster %}
                <img src="{{ guild.poster.url }}" class="guild__poster" alt="poster">
            {% endif %}

            {% include 'forms/form_field_text.html' with label='Название' value=form.name.value name=form.name.name maxlength=30 width='300px' %}
            <br>
            {% include 'forms/form_field_file.html' with label='Сменить постер' name=form.poster.name width='300px' %}
            {% if guild.poster %}
                {% include 'forms/form_field_check.html' with label='Удалить постер' name='poster-clear' %}
            {% endif %}

            <button class="btn btn-primary" type="submit" style="margin-top: 30px">Сохранить</button>
        </form>

        <div style="display: flex; margin-bottom: 10px">
            <a href="{% url 'developer-index' %}" style="margin-right: 15px" class="btn btn-success">Портал разработчика</a>
            {% if user == guild.creator %}<button type="button" class="btn btn-danger" onclick="modalOpen()">Удалить сервер</button>{% endif %}
        </div>

        <!-- HTML-код модального окна -->
        <div class="modal fade" id="deleteModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Удалить сервер</h5>
                        <button type="button" class="btn-close" onclick="deleteModal.hide()"></button>
                    </div>
                    <div class="modal-body">
                        {% include 'forms/form_field_text.html' with label='Введите название сервера' value='' name='deleteConfirm' maxlength=30 width='100%' %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="deleteModal.hide()">Отменить</button>
                        <button type="button" class="btn btn-danger" onclick="deleteGuild()">Удалить сервер</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
    guildName = '{{ guild.name }}';
    deleteUrl = '{% url 'guild-delete' guild.id %}';
    </script>
    <script src="{% static 'chat/js/guild_change_main.js' %}"></script>
{% endblock %}