{% extends 'base.html' %}


{% block title %}{{ guild.name }}{% endblock %}


{% block extra-header %}
    {% if me.is_admin %}<a class="header__controls__link" href="{% url 'guild-chat' guild.id %}">{{ guild.name }}</a>{% endif %}
{% endblock %}


{% block main %}
    <div class="container">
        <h2 style="margin-bottom: 10px; margin-top: 20px">Настройки сервера</h2>

        <div class="btn-group" style="margin-bottom: 5px">
            <a href="{% url 'guild-change-main' guild.id %}" class="btn btn-primary">Основные</a>
            <span class="btn btn-primary active">Участники</span>
            <a href="{% url 'guild-change-bans' guild.id %}" class="btn btn-primary">Баны</a>
            <a href="{% url 'guild-change-links' guild.id %}" class="btn btn-primary">Приглашения</a>
        </div>

        <div>
            {% for member in members %}
                {% include 'chat/member_info.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
    const guildId = {{ guild.id }};

    const guildSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + guildId + '/'
    );

    guildSocket.onclose = function (e) {
        console.warn('Chat socket closed unexpectedly');
    };

    guildSocket.onopen = function (e) {
        console.info('Chat socket connected');
    };

    guildSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data);

        if (data.action === 'kicked' || data.action === 'banned') {
            document.getElementById(`id_${data.member.id}`).remove();
        }
    };

    function kickMember(member_id) {
        guildSocket.send(JSON.stringify({
            'action': 'kick',
            'member_id': member_id,
        }));
    }

    function banMember(member_id) {
        guildSocket.send(JSON.stringify({
            'action': 'ban',
            'member_id': member_id,
        }));
    }
    </script>
{% endblock %}