{% extends 'base.html' %}


{% block title %}{{ guild.name }}{% endblock %}


{% block extra-header %}
    {% if me.is_admin %}<a class="header__controls__link" href="{% url 'guild-chat' guild.id %}">{{ guild.name }}</a>{% endif %}
{% endblock %}


{% block main %}
    <div class="container body__scroll">
        <h2 style="margin-bottom: 10px; margin-top: 20px">Настройки сервера</h2>

        <div class="btn-group-vertical" style="width: 200px; margin-bottom: 15px">
            <a href="{% url 'guild-change-main' guild.id %}" class="btn btn-primary">Основные</a>
            <span class="btn btn-success active">Участники</span>
            <a href="{% url 'guild-change-bans' guild.id %}" class="btn btn-danger">Баны</a>
            <a href="{% url 'guild-change-links' guild.id %}" class="btn btn-primary">Приглашения</a>
        </div>

        <div id="members-list">
            {% for member in members %}
                {% include 'chat/member_info.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
    const guildId = {{ guild.id }};

    const guildSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + guildId + '/'
    );

    guildSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data);

        if (data.action === 'kicked' || data.action === 'banned') {
            document.getElementById(`id_${data.member.id}`).remove();
        }

        else if (data.action === 'joined') {
            const list = document.querySelector(`#members-list`);

            let admin_check = ``;
            if (data.member.admin) {
                admin_check = `checked`;
            }
            let bot_check = ``;
            if (data.member.bot) {
                bot_check = `checked`;
            }

            let change_success =
                `<div style="display: flex">` +
                    `<a href="guild/{{ guild.id }}/change/members/${data.member.id}/kick/" style="margin-right: 15px" class="btn btn-warning">Выгнать</a>` +
                    `<a href="guild/{{ guild.id }}/change/members/${data.member.id}/ban/" class="btn btn-danger">Забанить</a>` +
                `</div>`;
            let change = ``;
            if (!data.member.admin) {
                change = change_success;
            } if ({{ user.id }} === {{ guild.creator.id }} && {{ user.id }} !== data.member.user) {
                change = change_success;
            }

            list.innerHTML +=
                `<div id="id_${data.member.id}" class="card" style="margin-top: 10px; margin-bottom: 5px">` +
                    `<div class="card-header">` +
                        `${data.member.username}` +
                    `</div>` +
                    `<div class="card-body" style="height: 70px">` +
                        `<div style="display: flex; justify-content: space-between; align-items: center; height: 38px">` +
                            `<div>` +
                                `<div class="form-check">` +
                                    `<label class="form-check-label" for="id_admin_check">Администратор</label>` +
                                    `<input type="checkbox" ${admin_check} name="admin_check" class="form-check-input" id="id_admin_check" disabled>` +
                                `</div>` +
                                `<div class="form-check">` +
                                    `<label class="form-check-label" for="id_bot_check">Бот</label>` +
                                    `<input type="checkbox" ${bot_check} name="bot_check" class="form-check-input" id="id_bot_check" disabled>` +
                                `</div>` +
                            `</div>` +
                            `${change}` +
                        `</div>` +
                    `</div>` +
                `</div>`;
        }
    };
    </script>
{% endblock %}