{% extends 'base.html' %}
{% load static %}


{% block styles%}{% static 'chat/index.css' %}{% endblock %}

{% block style %}
    <style>
    .join {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 100px;
        flex-wrap: wrap;
        padding-right: 20px;
        padding-left: 20px;
    }

    .join__text {
        margin-right: 7px;
    }

    .guild-link__poster {
        width: 75px;
        height: 75px;
        border-radius: 20%;
        border: solid rgb(129, 163, 240) 2px;
    }
    </style>
{% endblock %}

{% block main %}
    <div class="container body__scroll">
        <form method="get" class="join" action="{% url 'guild-join' %}">
            <h3 class="join__text">Присоединится к серверу</h3>
            {% include 'forms/form_field_text.html' with placeholder='Код приглашения' name='join-input' maxlength=15 width='200px' %}
            <button class="btn btn-primary" type="submit">Вступить</button>
        </form>
        <hr style="margin: 0">
        {% for member in membership %}
            {% include 'chat/guild_link.html' with id=member.guild.id title=member.guild.name poster=member.guild.poster %}
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script></script>
{% endblock %}