.guild-link {
    display: flex;
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    padding-left: 35px;
    padding-right: 35px;
}

.guild-link:hover {
  color: black;
}

.join {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    flex-wrap: wrap;
    padding-right: 20px;
    padding-left: 20px;
}

.join__text {
    margin-right: 7px;
}

.guild-link__poster {
    width: 75px;
    height: 75px;
    border-radius: 20%;
    border: solid rgb(129, 163, 240) 2px;
}