{% extends 'base.html' %}
{% load static %}


{% block title %}{{ bot.account.username }}-Developer{% endblock %}


{% block extra-header %}
    <a class="header__controls__link" href="{% url 'developer-index' %}">Мои боты</a>
{% endblock %}


{% block styles %}{% static 'developer/css/bot.css' %}{% endblock %}


{% block main %}
    <div class="container workplace">
        <h2 style="margin-bottom: 20px">Бот {{ bot.account.username }}</h2>
        <form method="get" class="join" action="{% url 'bot-join' bot.id %}">
            <h3 class="join__text">Присоединится к серверу</h3>
            {% include 'forms/form_field_text.html' with placeholder='Код приглашения' name='join-input' maxlength=15 width='200px' %}
            <button class="btn btn-primary" type="submit">Вступить</button>
        </form>
        <div class="card">
            <h5 class="card-header">{{ bot.account.username }}</h5>
            <div class="card-body">
                <h5 class="card-title">Token:</h5>
                <p class="card-text">{{ bot.account.GetBotToken.key }}</p>
                <div style="display: flex">
                    <a href="{% url 'bot-regenerate' bot.id %}" class="btn btn-success">Сгенерировать новый</a>
                    <a href="{% url 'bot-edit' bot.id %}" style="margin-left: 15px" class="btn btn-primary">Редактировать</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}