{% extends 'base.html' %}


{% block title %}AlexFireChat-Developer{% endblock %}


{% block extra-header %}
    <a class="header__controls__link" href="{% url 'bot-create' %}">Создать бота</a>
{% endblock %}


{% block style %}
    <style>
    .myBots {
        margin-top: 20px;
        margin-bottom: 5px;
    }
    </style>
{% endblock %}


{% block main %}
    <div class="container myBots">
    <h2 style="margin-bottom: 20px">Мои боты</h2>
    {% for bot in bots %}
        {% include 'developer/bot-link.html' %}
    {% empty %}
        У вас еще нет ботов, создайте первого!
    {% endfor %}
    </div>
{% endblock %}